{% extends 'base.html' %}


{% block body_block %}
<br>
<a class="mt-5" href="{% url 'groups:group_page' %}">Back>></a>
<div class="card mb-3">
  
  {% if group.cover %}
  <img class="card-img-top" src="{{ group.cover.url }}" alt="Card image cap">  
  {% endif %}
    
    <div class="card-body">
      
    
        
      <h1 class="card-title">{{group.title}}</h1>
      <p class="card-text">{{group.description}}</p>
      <p class="card-text"><small class="text-muted">{{group.data_created}}</small></p>

      

        
      
        
      {% if user in group.members.all %}

      <a class="btn btn-danger " href="{% url 'groups:group_leave' slug=group.slug %}">Leave Group</a>
        
      {% else %}  
      
      <a class="btn btn-primary " href="{% url 'groups:group_join' slug=group.slug %}">Join Group</a>
        
      {% endif %}

      {% if user in group.admin.all %}

      <a class="btn btn-warning " href="{% url 'groups:group_delete' slug=group.slug  %}">Delete Group</a>
    {% endif %}
    </div>
  </div>
  
  

    

    

  {% if user in group.members.all %}
  
  <form  action="{% url 'groups:group_post_create' slug=group.slug %}" method="POST">
    <h2 class=''>
      Create new post
      <small class="text-muted h6">Be sure to fill in the blanks</small>
    </h2>
    {{ user.username }}
    {% csrf_token %}
    <textarea class="form-control" name="post-text" id="" cols="30" rows="10" style="resize: none;" placeholder="Whats on your mind?"></textarea><br>
    <select  name="category" class="form-select form-control" aria-label="Default select example">
      <option selected value="category...">Category</option>
      <option value="django">Django</option>
      <option value="react">React</option>
      <option value="lavarel">Laravel</option>
      <option value="angular">Angular</option>
      
    </select>

    <input class='btn btn-primary mt-3' type="submit" value="Submit" >
</form>
  
 
 {% for post in group.post.all %}

 

 <div class="card mt-3">
  <div class="card-header">
    <a href="{% url 'page:profile_view' slug=user.profile.slug %}">@{{post.user.username}}</a>
    {% if user == post.user or user in group.admin.all %}
    <a href="{% url 'groups:post_edit' pk=post.pk %}" class="btn btn-info float-right ml-2">Edit</a>
    <a href="{% url 'groups:post_delete' pk=post.pk %}" class="btn btn-warning float-right">Delete</a>
    {% endif %}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{post.date_created}}</h5>
    <p class="card-text">{{post.body|safe}}</p>
    
    
      
    
  </div>
</div>
 
   
 {% endfor %}
   
  

  {% else %}

  <h2 class="text-center">Please join the group first</h2>
  

  

{% endif %}


    

    
{% endblock body_block %}
    